In [3]:
a=25
b=25
c=a+b
print ('Total:',c)

Total: 50

In [23]:
a=25
b=25
c=a+b
print ('Total:'+str(c))

Total:50

In [4]:
name=input()
print(name)

loga
loga

In [5]:
name=input()
print(type(name))
print(name)

loga
<class 'str'>
loga

In [8]:
a=int(input("Enter the value of A: "))
b=int(input("Enter the value of B: "))
c=a+b
print(c)
print(type(c))

Enter the value of A: 5
Enter the value of B: 6
11
<class 'int'>

In [10]:
a=float(input("Enter the value of A: "))
b=float(input("Enter the value of B: "))
c=a+b
print(c)
print(type(c))

Enter the value of A: 5.5
Enter the value of B: 6.5
12.0
<class 'float'>

In [15]:
name1,name2,name3=input("Enter 3 Names: ").split()
print("Name 1 : ",name1)
print("Name 2 : ",name2)
print("Name 3 : ",name3)

Enter 3 Names: loga k l
Name 1 :  loga
Name 2 :  k
Name 3 :  l

In [16]:
name1,name2,name3=input("Enter 3 Names: ").split(',')
print("Name 1 : ",name1)
print("Name 2 : ",name2)
print("Name 3 : ",name3)

Enter 3 Names: loga,kanda,krishna
Name 1 :  loga
Name 2 :  kanda
Name 3 :  krishna

In [17]:
para=[]
print(type(para))

<class 'list'>

In [18]:
para=[25,26,27]
print(para[0])

25

In [19]:
para=[25,26,27]
print(para[2])

27

In [21]:
para=["25","26","27"]
print(','.join(para))

25,26,27

In [22]:
a=10
print(a)
print(type(a))
b=10.0
print(b)
print(type(b))

10
<class 'int'>
10.0
<class 'float'>

In [39]:
#String and string function

s="loga"
print(s)
print(type(s))

loga
<class 'str'>

In [25]:
s="loga"
print(s)
print(type(s))
print(s.upper())

loga
<class 'str'>
LOGA

In [36]:
s="loga darshana"
print(s.lower())

loga darshana

In [37]:
s="loga darshana"
print(s.capitalize())

Loga darshana

In [38]:
s="loga darshana"
print(s.title())

Loga Darshana

In [40]:
s="loga darshana"
print(s.count("a"))

4

In [41]:
s="loga darshana"
print(s.endswith("na"))

True

In [42]:
s="loga darshana"
print(s.endswith("ga"))

False

In [43]:
s="loga darshana"
print(s.find("a"))

3

In [47]:
s="loga darshana"
print(s.find("a",4))

6

In [45]:
s="loga darshana"
print(s.replace("a",'0'))

log0 d0rsh0n0

In [48]:
a="LOGA"
print("IS UPPER : ",a.isupper())

IS UPPER :  True

In [50]:
a="loga1234"
print("IS Alpha Numeric : ",a.isalnum())
print("IS Alpha : ",a.isalpha())

IS Alpha Numeric :  True
IS Alpha :  False

In [51]:
s="he\nis\ngood"
print(s)
print(s.splitlines())
print(s.splitlines(True))

he
is
good
['he', 'is', 'good']
['he\n', 'is\n', 'good']

In [52]:
a="Loga is awesome"
print(a.split(" "))

['Loga', 'is', 'awesome']

In [55]:
s="   loga   "
print(len(s))
print(len(s.strip()))
print(len(s.lstrip()))
print(len(s.rstrip()))

10
4
7
7

In [57]:
s='25-11-2021'
print(s.partition('-'))

('25', '-', '11-2021')

In [62]:
#string manipulation
#slicing
'''
s   a   m   p   l   e
0   1   2   3   4   5
-6 -5  -4  -3  -2  -1
'''

s="sample"
print(s)
print(s[0:2])
print(s[1:])
print(s[-1])
print(s[-2:-1])
print(s[::-1])

sample
sa
ample
e
l
elpmas

In [65]:
#Arthimetic operations

a=123
b=10
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(2**3)

133
113
1230
12.3
12
3
8

In [70]:
#assignment operators in python

a=125
print(a)
a += 5 #a=a+5
print(a)
a -= 10 #a=a-10
print(a)
a *= 10 #a=a*10
print(a)
a /= 10 #a=a/10
print(a)
a //= 10 #a=a//10
print(a)
a %= 10 #a=a%10
print(a)

125
130
120
1200
120.0
12.0
2.0

In [71]:
#comparision operators in python

a=10
b=20
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [72]:
#logical oprators in python

10-20

a=10
print(a>=10 and a<=20)

True

In [73]:
a=25
print(a>=10 and a<=20)
print(a>=10 or a<=20)
print(not(a>=10 and a<=20))

False
True
True

In [76]:
#Bitwise operator

a=10
b=11
print(a&b) #AND
print(a|b) #OR
print(a^b) #XOR
print(~a)  #NOT

10
11
1
-11

In [1]:
#IF - ELSE statement

'''
write a program to check the given number is even
'''
n=int(input("Enter the Number: "))
if n%2==0:
    print(n,"Is Even number")

Enter the Number: 22
22 Is Even number

In [1]:
n=int(input("Enter the Number: "))
if n%2==0:
    print(n,"is Even number")
else:
    print(n,"is odd number")

Enter the Number: 15
15 is odd number

In [2]:
'''
write a program to check voter eligiblity with his/her name and age
'''
name=input("Enter your name: ")
age=int(input("Enter your age: "))
if age>=18:
    print(name,"age is",age,"eligible for vote.")
else:
    print(name,"age is",age,"not eligible for vote.")

Enter your name: Loga
Enter your age: 22
Loga age is 22 eligible for vote.

In [3]:
#elif statement

'''
days   fine
0      no fine
1-5    0.5
5-10    1
10-30   5
>30    Membership cancel
'''
days=int(input("Enter number of days: "))
if (days==0):
    print("no fine")
elif(days>=1 and days<=5):
    print("fine ammount: ",days*0.5)
elif(days>=5 and days<=10):
    print("fine ammount: ",days*1)
elif(days>=10 and days<=30):
    print("fine ammount: ",days*5)
else:
    print("Membership Cancel")

Enter number of days: 5
fine ammount:  2.5

In [7]:
#Nested if

'''
3 marks input
total
average 
result
if pass grade
90-100 A
80-89  B
70-79  C
ELSE   D
'''
m1=int(input("Enter mark 1: "))
m2=int(input("Enter mark 2: "))
m3=int(input("Enter mark 3: "))
total=m1+m2+m3
average=Total/3.0
print("Total: ",total)
print("Average: ",average)
if m1>=35 and m2>=35 and m3>=35:
    print("Result: Pass")
    if average>=90 and average<=100:
        print("Grade: A")
    elif average>=89 and average<=80:
        print("Grade: B")
    elif average>=79 and average<=70:
        print("Grade: C")
    else:
        print("Grade: D")
else:
    print("Result: Fail")
    print("Grade: No grade")

Enter mark 1: 50
Enter mark 2: 35
Enter mark 3: 62
Total:  147
Average:  49.0
Result: Pass
Grade: D

In [8]:
#while loop

i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [9]:
n=20
i=2
while i<=20:
    print(i)
    i+=2

2
4
6
8
10
12
14
16
18
20

In [1]:
#continue statement

i=1
while i<=20:
    if i%2==0:
        i=i+1
        continue
    print(i)
    i+=1

1
3
5
7
9
11
13
15
17
19

In [6]:
#range

'''
1-5 => 1,2,3,4,5
0-2 => 2,4 +2
range(5) =>0,1,2,3,4
range(2,5) =>
'''
print(list(range(5)))
print(list(range(2,5))) #n-1
print(list(range(0,20,2)))
print(list(range(1,20,2)))

[0, 1, 2, 3, 4]
[2, 3, 4]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [8]:
#for loop

for i in range(21):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [9]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [10]:
for i in range(5):
    a=int(input("Enter a number: "))
    b=int(input("Enter a number: "))
    print(a+b)

Enter a number: 10
Enter a number: 10
20
Enter a number: 20
Enter a number: 20
40
Enter a number: 30
Enter a number: 30
60
Enter a number: 40
Enter a number: 40
80
Enter a number: 50
Enter a number: 50
100

In [14]:
#nested for loop

'''
*
**
***
****
*****
'''
for i in range(5):
    for j in range(i):
        print("*",end="")
    print("")

*
**
***
****

In [15]:
for i in range(5):
    for j in range(i):
        print(j)
    print("")

0

0
1

0
1
2

0
1
2
3

In [16]:
'''
*****
****
***
**
*
'''
for i in range(5,0,-1):
    print(i)

5
4
3
2
1

In [17]:
for i in range(5,0,-1):
    for j in range(i):
        print("*",end="")
    print("")

*****
****
***
**
*

In [20]:
'''
ABCDE
ABCDE
ABCDE
ABCDE
ABCDE

A-Z => 65-90
a-z => 97-122
'''
for i in range(65,70,1):
    print(i)

65
A
66
B
67
C
68
D
69
E

In [21]:
for i in range(65,70,1):
    print(chr(i))

A
B
C
D
E

In [26]:
'''
ABCDE
ABCDE
ABCDE
ABCDE
ABCDE

A-Z => 65-90
a-z => 97-122
'''
for i in range(65,70,1):
    for j in range(65,70,1):
        print(chr(j),end="")
    print("")

ABCDE
ABCDE
ABCDE
ABCDE
ABCDE

In [30]:
#while else and for else

i=1
while i<=5:
    if(i==4):
        break
    print(i)
    i+=1
else:
    print("Loop completed")

1
2
3

In [32]:
for i in range(1,21):
    print(i)
else:
    print("For loop completed")

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
For loop completed

In [33]:
for i in range(1,21):
    if(i==5):
        break
    print(i)
else:
    print("For loop completed")

1
2
3
4

In [35]:
#list 

'''
a[5]
a={1,2,3,4,5}
a[0]
'''

a=[1,2,3,4,5]
print(a)
print(type(a))

[1, 2, 3, 4, 5]
<class 'list'>
[100, 2, 3, 4, 5]

In [42]:
'''
a[5]
a={1,2,3,4,5}
a[0]
'''
a=[1,2,3,4,5]
a[0]=100
print(a)
print("Slicing")
print(a[1])
print(a[-1])
print(a[0:3])
print(a[2:])
print(a[:3])

[100, 2, 3, 4, 5]
Slicing
2
5
[100, 2, 3]
[3, 4, 5]
[100, 2, 3]

In [45]:
a=(1,True,'Ram',2.5)
print(a)
print(type(a))
print(a[0]," type is",type(a[0]))
print(a[1]," type is",type(a[1]))
print(a[2]," type is",type(a[2]))
print(a[3]," type is",type(a[3]))

(1, True, 'Ram', 2.5)
<class 'tuple'>
1  type is <class 'int'>
True  type is <class 'bool'>
Ram  type is <class 'str'>
2.5  type is <class 'float'>

In [47]:
a=(1,True,'Ram',2.5,[1,2,3,4,5])
print(a)
print(type(a))
print(a[0]," type is",type(a[0]))
print(a[1]," type is",type(a[1]))
print(a[2]," type is",type(a[2]))
print(a[3]," type is",type(a[3]))
print(a[4]," type is",type(a[4]))

(1, True, 'Ram', 2.5, [1, 2, 3, 4, 5])
<class 'tuple'>
1  type is <class 'int'>
True  type is <class 'bool'>
Ram  type is <class 'str'>
2.5  type is <class 'float'>
[1, 2, 3, 4, 5]  type is <class 'list'>

In [48]:
#list functions

a = [10,25,35,45]
print(a)
a.clear()
print(a)

[10, 25, 35, 45]
[]

In [51]:
a = [10,25,35,45]
b=a.copy()
print(b)

[10, 25, 35, 45]

In [55]:
a= [10,25,4,25,3,25,6,25]
print(a.count(25))
print(a.index(25))
print(len(a))
print(max(a))
print(min(a))

4
1
8
25
3

In [56]:
a= [10,25,4,25,3,25,6,25]
print(a)
a.pop(0) #emove using index value
print(a)

[10, 25, 4, 25, 3, 25, 6, 25]
[25, 4, 25, 3, 25, 6, 25]

In [57]:
a= [10,25,4,25,3,25,6,25]
a.remove(25)
print(a)

[10, 4, 25, 3, 25, 6, 25]

In [63]:
names=["Ram"]
print(names)
names.append("Sam")
names.append("Raj")
print(names)
name2=["sara","Anitha"]
names.extend(name2)
print(names)
names.insert(0,"Suriya")
print(names)

['Ram']
['Ram', 'Sam', 'Raj']
['Ram', 'Sam', 'Raj', 'sara', 'Anitha']
['Suriya', 'Ram', 'Sam', 'Raj', 'sara', 'Anitha']

In [67]:
a= [10,25,4,3,6]
print(a)
a.sort()
print(a)
a.sort(reverse=True)
print(a)

[10, 25, 4, 3, 6]
[3, 4, 6, 10, 25]
[25, 10, 6, 4, 3]

In [76]:
#tuples

a=(1,2.5,True,"Ram")
print(type(a))
print(a[0])
print(a[1])
print(a[-1])
print(a[2:])
b=list(a)
print(b)
b.append("Raja")
print(b)

<class 'tuple'>
1
2.5
Ram
(True, 'Ram')
[1, 2.5, True, 'Ram']
[1, 2.5, True, 'Ram', 'Raja']

In [81]:
a=(1,2.5,True,"Ram")
for i in a:
    print(i)
if "Raja" in a :
    print("Raja is found")
else:
    print("Not found")

1
2.5
True
Ram
Not found

In [83]:
x=('loga',)*10
print(x)

('loga', 'loga', 'loga', 'loga', 'loga', 'loga', 'loga', 'loga', 'loga', 'loga')

In [9]:
#set

names={"Ram","Sam","Ravi"}
print(type(names))

#assess value using for loop
for name in names:
    print(name)
    
#ADDING NEW NAMES
names.add("Sara")
print(names)

#Updating new data
a={"loga","kanda","krishna"}
names.update(a)
print(names)
names.discard("loga")
print(names)

<class 'set'>
Ram
Ravi
Sam
{'Ram', 'Ravi', 'Sara', 'Sam'}
{'kanda', 'krishna', 'loga', 'Ram', 'Ravi', 'Sara', 'Sam'}
{'kanda', 'krishna', 'Ram', 'Ravi', 'Sara', 'Sam'}

In [4]:
#Dictionary

user={
    "name":"Ram",
    "age":25,
    "Is married": True
}
print(user)
print(type(user))
print(user.get("age"))
print(user.keys())
print(user.values())
print(user.items())

{'name': 'Ram', 'age': 25, 'Is married': True}
<class 'dict'>
25
dict_keys(['name', 'age', 'Is married'])
dict_values(['Ram', 25, True])
dict_items([('name', 'Ram'), ('age', 25), ('Is married', True)])

In [9]:
user={
    "name":"Ram",
    "age":25,
    "Is married": True
}

for x in user:
    print(x," ",user[x])
    
for x in user.values():
    print(x)

name   Ram
age   25
Is married   True
Ram
25
True